
                                    <div class="review_item" style="background-color:#cce6ff">
									<div class="media">
										<div class="d-flex">
											<img src="img/product/review-1.png" alt="">
										</div>
										<div class="media-body">
											<h4>{{ comment.creator.first_name }} {{ comment.creator.last_name }}</h4>
											<h5>{{ comment.created_at }}</h5>
											{% for group in  user.groups.all %}

                                                        {% if group.name == "master_product" %}
                                                        <p id="reply" class="reply_btn">Reply {{ p }}</p>

                                                        <form id="replyy" class="row contact_form"
                                                              action={% url "product:reply_comment" id_p=product.id id_c=comment.id %} method="post"
                                                              id="contactForm" novalidate="novalidate">
                                                            {% csrf_token %}
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <textarea class="form-control" name="comment"
                                                                              id="message" rows="1"
                                                                              placeholder="Message"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 text-right">
                                                                <button id ="ssubmit" type="submit" value="submit"
                                                                        class="btn primary-btn">Submit Now
                                                                </button>
                                                            </div>
                                                        </form>

                                                        {% endif %}
                                                    {% endfor %}


										</div>
									</div>
									<p>{{ comment.content }}</p>

                                         {% if comment.find_replied != None %}
                                            <h5>-------------------------------------------</h5>
                                                <div id="show_answer">{% include 'product/partial/reply_comment.html' with comment=comment.find_replied %}</div>
                                         {% endif %}
								</div>